/* https://divine-agency.com/
colors:
light light yellow: #FFDF96
light yellow: #FFDB8A */
/* medium yellow: #EFB643 */
/* teal: #03A79D */
/* orange: #EE784B */
/* lt grey: #A7A9AC */
/* dk charcoal: #303030 */
/* sky blue: #5EC4CF */
/* red: #EB5850 */


.backgroundColor {
    background: radial-gradient(#faeac6, #FFDB8A, #EFB643);
}

.pinPosition {
    transform: rotate(-30deg);
}

.width15 {
    width: 15%;
}

.width20 {
    width: 20%;
}

.noUnderline {
    text-decoration: none;
}

.ml3rem {
    margin-left: 3rem;
}

.ml1rem {
    margin-left: 1rem;
}

.mt4rem {
    margin-top: 4.5rem;
}

.zindex {
    z-index: 100;
}

.mbottom3 {
    margin-bottom: 3rem;
}

.footerText {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.footerTextColor:hover, .titleColor {
    color: #EE784B;
}

.praiseTitleColor {
    color: #303030;
}

.greetingColor, .footerTextColor, .praiseTitleColor:hover, .titleColor:hover {
    color: #039187;
}

.btnColor, .btnColorHoverRed {
    background-color: #20a89e;
}

.btnColorRed {
    background-color: #e32117;
    color: #ffffff;
}

.btnColor:hover {
    color: #ffffff;
}

.btnColorHoverRed:hover {
    color: #e32117;
}

.picPosition1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.picPosition2 {
    position: absolute;
    bottom: 0;
}

.fullScreen {
    height: 100vh;
    width: 100vw;
}

.lightFont {
    font-family: Segoe UI, Arial, sans-serif;
    font-weight: 400;
}

#pinPhoneWidth {
    width: 100% !important;
}

@media screen and (min-width: 1200px) {
    .marginAdjust {
        margin-right: 10rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1001px) {
    .btnColor, .btnColorHoverRed {
        width: 30%;
    }
}

@media screen and (max-width: 1000px) {
    .feedPhonePadding {
        padding-right: 2.5rem !important;
        padding-left: 2.5rem !important;
    }
}

@media screen and (max-width: 767px) {
    .phoneCenter {
        justify-content: center;
    }

    .phoneWiden {
        width: 67%;
    margin-left: 0;
    margin-top: 0 !important;
    }

    .marginTop0 {
        margin-top: 0;
    }

    .btnColor, .btnColorHoverRed {
        width: 70%;
    }

    #indexButton {
        width: 25%;
    }

    .phoneDisplay {
        display: block !important;
    }

    .phoneDisplayMT2 {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 400px) {
    .footerText {
        flex-wrap: wrap;
    }

    .footerTextColor {
        margin-right: 40%;
    }
}